/* Box Model o la caja de CSS */
/* Tiene 4 atributos la caja

 Pensando la caja de dentro hacia fuera, estos atributos son
1 - Contenido / content
2 - Relleno / padding
3 - Borde / border
4 - Margen / margin

*/

* {
    margin: 0px;
    padding: 0px;
}



    /* Fonts / Para usar una fuente local (dentro del proyecto) se utiliza una regla CSS Font-face, todas las reglas empiezan con (arroba *) */

    /* @font-face { 
        /* Nombre de la fuente tipografica - Inventar nombre */
/*         font-family: Arial, Helvetica, sans-serif;
 */
     */


.section-first { 
    background-color: rgb(0, 195, 255);

    /* Padding o Relleno / Siempre lleva una unidad de medida para definir cuanto crece
    Si la uso sola,afecta a los 4 lados, es decir le agrega 80px a cada lado de la caja*/
    /*     padding: 80px;*/ 
    /* Manipular los 4 lados de la caja con todas estas propiedades */
    /* padding-top: 80px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 400px; */
    /* Vertical y Horizontal */
    /* padding: 80px 400px; */
    /* Los cuatro lados con distintos valores abrebiados */
    padding: 40px 400px 62px 108px;
    /* Su sintaxis nos pide tamaño, estilo, color */
    /*     border: 2px solid black;*/
    border-top: 4px dotted blue;
    border-bottom: 18px dashed green;
    /* Margin */
    margin: 28px 40px;

 }

 li {
    margin: 28px;
 }

 footer {
    background-color: aquamarine;
 }

 /* CSS / Hoja de estilo encascada
 1- La cascada se puede hacer con etiquetas , con clases, con id o con todos a la misma vez*/
 .section-first p {
    /* Nos muestra como opcion, los fonts que tenemos cargadas en nuestra compu */
    /* google fonts */
     font-family: 'Nunito Sans', sans-serif;
    ;
 }

 header nav ul li a {
    text-decoration: none;
 }

 /* La coma ","*/
 p, h1 , a { 
    /* Nos muestra como , opcion fonts que tenemos cargado al pc */
    font-family: 'Nunito Sans', sans-serif;

 }